openapi: 3.1.0
info:
  title: Stickguy Public API
  version: 1.0.0-alpha.1
  description: Versioned coordination contracts, including optional declared dependency claims, dependency-readiness findings, and pull-only ScopeSnapshots derived from canonical workstream facts. Source, diffs, transcript files, environment values, credentials, and raw command output are prohibited. Session messages require Project membership, an unpaused workspace, and classifier approval.
servers:
  - url: https://api.stickguy.dev/v1
security:
  - deviceToken: []
paths:
  /projects:
    post:
      operationId: createProject
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateProjectRequest' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/invites:
    post:
      operationId: createInvite
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateInviteRequest' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Invite' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/invites/{targetId}/revoke:
    post:
      operationId: revokeInvite
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/TargetId' } ]
      responses: { '204': { description: Invite revoked }, default: { $ref: '#/components/responses/Error' } }
  /enrollments:
    post:
      operationId: createEnrollment
      security: []
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/EnrollmentRequest' } } } }
      responses: { '201': { description: Enrolled, content: { application/json: { schema: { $ref: '#/components/schemas/Enrollment' } } } }, default: { $ref: '#/components/responses/Error' } }
  /dashboard-tickets/exchange:
    post:
      operationId: exchangeDashboardTicket
      security: []
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/TicketExchangeRequest' } } } }
      responses: { '204': { description: Browser session established }, default: { $ref: '#/components/responses/Error' } }
  /dashboard-activations:
    post:
      operationId: activateDashboardBrowser
      security: []
      requestBody: { required: true, content: { application/x-www-form-urlencoded: { schema: { $ref: '#/components/schemas/TicketExchangeRequest' } } } }
      responses: { '303': { description: Browser session established and redirected to the same-origin dashboard, headers: { Location: { schema: { type: string, maxLength: 2048 } }, Set-Cookie: { schema: { type: string, maxLength: 1024 } } } }, default: { $ref: '#/components/responses/Error' } }
  /dashboard-tickets:
    post:
      operationId: createDashboardTicket
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateDashboardTicketRequest' } } } }
      responses: { '201': { description: One-time browser ticket created, content: { application/json: { schema: { $ref: '#/components/schemas/DashboardTicket' } } } }, default: { $ref: '#/components/responses/Error' } }
  /dashboard/session:
    get:
      operationId: getDashboardSession
      security: [ { browserSession: [] } ]
      responses: { '200': { description: Authorized browser session, content: { application/json: { schema: { $ref: './schemas/dashboard.schema.json#/$defs/session' } } } }, default: { $ref: '#/components/responses/Error' } }
  /dashboard/projects/{id}:
    get:
      operationId: getDashboardProjectSnapshot
      security: [ { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Authorized live Project snapshot, content: { application/json: { schema: { $ref: './schemas/dashboard.schema.json#/$defs/snapshot' } } } }, default: { $ref: '#/components/responses/Error' } }
  /device/bootstrap:
    get:
      operationId: getDeviceBootstrap
      responses: { '200': { description: Bootstrap, content: { application/json: { schema: { $ref: '#/components/schemas/DeviceBootstrap' } } } }, default: { $ref: '#/components/responses/Error' } }
  /events/batch:
    post:
      operationId: publishEventBatch
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/EventBatch' } } } }
      responses: { '200': { description: Acknowledged, content: { application/json: { schema: { $ref: '#/components/schemas/EventBatchAck' } } } }, default: { $ref: '#/components/responses/Error' } }
  /presence/heartbeat:
    post:
      operationId: heartbeat
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/HeartbeatRequest' } } } }
      responses: { '204': { description: Recorded }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/changes:
    get:
      operationId: getProjectChanges
      parameters: [ { $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/Cursor' } ]
      responses: { '200': { description: Changes, content: { application/json: { schema: { $ref: '#/components/schemas/ChangePage' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/collaboration:
    get:
      operationId: getProjectCollaboration
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/Cursor' } ]
      responses: { '200': { description: Open collisions and their resolutions, content: { application/json: { schema: { $ref: './schemas/collaboration.schema.json' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/members:
    get:
      operationId: getProjectMembers
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Project members and how each display name was chosen, content: { application/json: { schema: { $ref: './schemas/dashboard.schema.json#/$defs/members' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/access:
    get:
      operationId: getProjectAccess
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Authorized member, device, and invite management snapshot, content: { application/json: { schema: { $ref: './schemas/project-administration.schema.json#/$defs/access' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/members/{targetId}/remove:
    post:
      operationId: removeProjectMember
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/TargetId' } ]
      responses: { '204': { description: Member removed from this Project }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/member:
    patch:
      operationId: updateProjectMemberIdentity
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/UpdateMemberIdentityRequest' } } } }
      responses: { '200': { description: Member-controlled display name applied, content: { application/json: { schema: { $ref: './schemas/dashboard.schema.json#/$defs/memberIdentity' } } } }, default: { $ref: '#/components/responses/Error' } }
    delete:
      operationId: deleteOwnProjectData
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '202': { description: Membership revoked immediately and deletion of this member's retained Project data scheduled }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/sync-cards:
    post:
      operationId: createSyncCard
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateSyncCardRequest' } } } }
      responses: { '201': { description: Sync card created, content: { application/json: { schema: { $ref: './schemas/collaboration.schema.json#/$defs/syncCard' } } } }, default: { $ref: '#/components/responses/Error' } }
  /sync-cards/{id}/comments:
    post:
      operationId: commentOnSyncCard
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SyncCommentRequest' } } } }
      responses: { '201': { description: Comment created, content: { application/json: { schema: { $ref: './schemas/collaboration.schema.json#/$defs/syncComment' } } } }, default: { $ref: '#/components/responses/Error' } }
  /sync-cards/{id}/resolve:
    post:
      operationId: resolveSyncCard
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ResolveSyncCardRequest' } } } }
      responses: { '200': { description: Collision resolution, content: { application/json: { schema: { $ref: './schemas/collaboration.schema.json#/$defs/resolution' } } } }, default: { $ref: '#/components/responses/Error' } }
  /workstreams/{id}/briefs:
    post:
      operationId: createCoordinationBrief
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/BriefRequest' } } } }
      responses: { '200': { description: Brief, content: { application/json: { schema: { $ref: './schemas/coordination-brief.schema.json' } } } }, default: { $ref: '#/components/responses/Error' } }
  /workstreams/{id}/session-sharing:
    get:
      operationId: getSessionSharing
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Authorized policy and shared messages, content: { application/json: { schema: { $ref: './schemas/session-sharing.schema.json' } } } }, default: { $ref: '#/components/responses/Error' } }
    delete:
      operationId: deleteSharedSessionMessages
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '204': { description: Shared messages deleted and sharing disabled }, default: { $ref: '#/components/responses/Error' } }
  /context-items/{id}:
    get:
      operationId: getContextItem
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Current authorized item, content: { application/json: { schema: { $ref: '#/components/schemas/ContextItem' } } } }, default: { $ref: '#/components/responses/Error' } }
  /findings/{id}/feedback:
    post:
      operationId: recordFindingFeedback
      security: [ { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/FindingFeedbackRequest' } } } }
      responses: { '204': { description: Feedback recorded }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/export:
    get:
      operationId: exportProject
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Portable export of retained structured Project data; owners receive the Project and members receive records about their own work, content: { application/json: { schema: { $ref: './schemas/project-administration.schema.json#/$defs/projectExport' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}:
    delete:
      operationId: deleteProject
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '202': { description: Project authorization revoked and batched deletion scheduled }, default: { $ref: '#/components/responses/Error' } }
  /devices/{id}/revoke:
    post:
      operationId: revokeDevice
      security: [ { deviceToken: [] }, { browserSession: [] } ]
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '204': { description: Revoked }, default: { $ref: '#/components/responses/Error' } }
components:
  securitySchemes:
    deviceToken: { type: http, scheme: bearer }
    browserSession: { type: apiKey, in: cookie, name: stickguy_session }
  parameters:
    Id: { name: id, in: path, required: true, schema: { $ref: '#/components/schemas/Id' } }
    TargetId: { name: targetId, in: path, required: true, schema: { $ref: '#/components/schemas/Id' } }
    Cursor: { name: cursor, in: query, required: false, schema: { type: string, maxLength: 512 } }
  responses:
    Error:
      description: Stable error envelope
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
  schemas:
    Id: { type: string, pattern: '^[a-z][a-z0-9_]{2,127}$' }
    Timestamp: { type: string, format: date-time }
    CreateProjectRequest:
      type: object
      additionalProperties: false
      required: [label, deviceLabel]
      properties:
        label: { type: string, minLength: 1, maxLength: 120 }
        deviceLabel: { type: string, minLength: 1, maxLength: 120 }
        displayName:
          type: string
          minLength: 2
          maxLength: 60
          description: Member-chosen live-work identity. Omitted means the device label seeds it and the member is asked to choose one.
        appVersion: { type: string, minLength: 1, maxLength: 64 }
    Project:
      type: object
      additionalProperties: false
      required: [id, label]
      properties: { id: { $ref: '#/components/schemas/Id' }, label: { type: string, maxLength: 120 } }
    CreateInviteRequest:
      type: object
      additionalProperties: false
      required: [expiresInSeconds, maxUses]
      properties: { expiresInSeconds: { type: integer, minimum: 60, maximum: 604800 }, maxUses: { type: integer, minimum: 1, maximum: 50 } }
    Invite:
      type: object
      additionalProperties: false
      required: [id, secret, expiresAt]
      properties: { id: { $ref: '#/components/schemas/Id' }, secret: { type: string, minLength: 22, maxLength: 512 }, expiresAt: { $ref: '#/components/schemas/Timestamp' } }
    EnrollmentRequest:
      type: object
      additionalProperties: false
      required: [inviteId, inviteSecret, deviceLabel, appVersion, schemaMinimum, schemaMaximum]
      properties:
        inviteId: { $ref: '#/components/schemas/Id' }
        inviteSecret: { type: string, minLength: 22, maxLength: 512 }
        deviceLabel: { type: string, minLength: 1, maxLength: 120 }
        displayName:
          type: string
          minLength: 2
          maxLength: 60
          description: Member-chosen live-work identity. Omitted means the device label seeds it and the member is asked to choose one.
        appVersion: { type: string, maxLength: 64 }
        schemaMinimum: { type: integer, minimum: 1 }
        schemaMaximum: { type: integer, minimum: 1 }
    Enrollment:
      type: object
      additionalProperties: false
      required: [deviceId, deviceToken, dashboardTicket]
      properties: { deviceId: { $ref: '#/components/schemas/Id' }, deviceToken: { type: string, minLength: 32, maxLength: 512 }, dashboardTicket: { type: string, minLength: 22, maxLength: 512 } }
    TicketExchangeRequest:
      type: object
      additionalProperties: false
      required: [ticket]
      properties: { ticket: { type: string, minLength: 22, maxLength: 512 } }
    CreateDashboardTicketRequest:
      type: object
      additionalProperties: false
      required: [projectId]
      properties: { projectId: { $ref: '#/components/schemas/Id' } }
    DashboardTicket:
      type: object
      additionalProperties: false
      required: [ticket, expiresAt]
      properties: { ticket: { type: string, minLength: 22, maxLength: 512 }, expiresAt: { $ref: '#/components/schemas/Timestamp' } }
    DeviceBootstrap:
      type: object
      additionalProperties: false
      required: [deviceId, schemaMinimum, schemaMaximum, projects, cursors]
      properties:
        deviceId: { $ref: '#/components/schemas/Id' }
        schemaMinimum: { type: integer, minimum: 1 }
        schemaMaximum: { type: integer, minimum: 1 }
        projects: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/Project' } }
        cursors: { type: object, maxProperties: 100, additionalProperties: { type: string, maxLength: 512 } }
    EventEnvelope: { $ref: './schemas/event-envelope.schema.json' }
    EventBatch:
      type: object
      description: A bounded batch from exactly one workspace; sequence and the returned cursor are workspace-scoped.
      additionalProperties: false
      required: [events]
      properties: { events: { type: array, minItems: 1, maxItems: 100, items: { $ref: '#/components/schemas/EventEnvelope' } } }
    EventBatchAck:
      type: object
      additionalProperties: false
      required: [acceptedEventIds, cursor]
      properties: { acceptedEventIds: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/Id' } }, cursor: { type: string, maxLength: 512 } }
    HeartbeatRequest:
      type: object
      additionalProperties: false
      required: [workspaceId, state]
      properties: { workspaceId: { $ref: '#/components/schemas/Id' }, state: { type: string, enum: [active, idle, paused] } }
    UpdateMemberIdentityRequest:
      type: object
      additionalProperties: false
      required: [displayName]
      properties:
        displayName:
          type: string
          minLength: 2
          maxLength: 60
          description: Member-chosen live-work identity. Email addresses are rejected.
    ChangePage:
      type: object
      additionalProperties: false
      required: [items, cursor]
      properties: { items: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/ContextItem' } }, cursor: { type: string, maxLength: 512 } }
    BriefRequest:
      type: object
      additionalProperties: false
      required: [trigger, approximateTokenBudget]
      properties: { trigger: { type: string, maxLength: 80 }, sinceCursor: { type: string, maxLength: 512 }, approximateTokenBudget: { type: integer, minimum: 128, maximum: 800, default: 400 } }
    FindingFeedbackRequest:
      type: object
      additionalProperties: false
      required: [value]
      properties: { value: { enum: [useful, not_related, already_coordinated, missed_severity] } }
    CreateSyncCardRequest:
      type: object
      additionalProperties: false
      required: [title, summary]
      properties:
        findingId: { $ref: '#/components/schemas/Id' }
        title: { type: string, minLength: 1, maxLength: 160 }
        summary: { type: string, minLength: 1, maxLength: 2000 }
    SyncCommentRequest:
      type: object
      additionalProperties: false
      required: [body]
      properties: { body: { type: string, minLength: 1, maxLength: 2000 } }
    ResolveSyncCardRequest:
      type: object
      additionalProperties: false
      required: [expectedRevision, summary, affectedMemberIds, affectedWorkstreamIds]
      properties:
        expectedRevision: { type: integer, minimum: 1 }
        summary: { type: string, minLength: 1, maxLength: 2000 }
        affectedMemberIds: { type: array, maxItems: 100, uniqueItems: true, items: { $ref: '#/components/schemas/Id' } }
        affectedWorkstreamIds: { type: array, maxItems: 100, uniqueItems: true, items: { $ref: '#/components/schemas/Id' } }
    ContextItem:
      oneOf:
        - { $ref: './schemas/semantic-object.schema.json' }
        - { $ref: './schemas/finding.schema.json' }
        - { $ref: './schemas/checkpoint.schema.json' }
        - { $ref: './schemas/collaboration.schema.json#/$defs/resolution' }
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, requestId, retryable]
          properties:
            code: { type: string, pattern: '^[a-z][a-z0-9_]{2,63}$' }
            message: { type: string, maxLength: 300 }
            requestId: { $ref: '#/components/schemas/Id' }
            retryable: { type: boolean }
            details: { type: object, maxProperties: 20 }
