openapi: 3.1.0
info:
  title: Stickguy Public API
  version: 1.0.0-alpha.1
  description: Versioned coordination contracts. Payloads never contain source, diffs, prompts, transcripts, environment values, or raw command output.
servers:
  - url: https://api.stickguy.dev/v1
security:
  - deviceToken: []
paths:
  /projects:
    post:
      operationId: createProject
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateProjectRequest' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/invites:
    post:
      operationId: createInvite
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CreateInviteRequest' } } } }
      responses: { '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Invite' } } } }, default: { $ref: '#/components/responses/Error' } }
  /enrollments:
    post:
      operationId: createEnrollment
      security: []
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/EnrollmentRequest' } } } }
      responses: { '201': { description: Enrolled, content: { application/json: { schema: { $ref: '#/components/schemas/Enrollment' } } } }, default: { $ref: '#/components/responses/Error' } }
  /dashboard-tickets/exchange:
    post:
      operationId: exchangeDashboardTicket
      security: []
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/TicketExchangeRequest' } } } }
      responses: { '204': { description: Browser session established }, default: { $ref: '#/components/responses/Error' } }
  /device/bootstrap:
    get:
      operationId: getDeviceBootstrap
      responses: { '200': { description: Bootstrap, content: { application/json: { schema: { $ref: '#/components/schemas/DeviceBootstrap' } } } }, default: { $ref: '#/components/responses/Error' } }
  /events/batch:
    post:
      operationId: publishEventBatch
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/EventBatch' } } } }
      responses: { '200': { description: Acknowledged, content: { application/json: { schema: { $ref: '#/components/schemas/EventBatchAck' } } } }, default: { $ref: '#/components/responses/Error' } }
  /presence/heartbeat:
    post:
      operationId: heartbeat
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/HeartbeatRequest' } } } }
      responses: { '204': { description: Recorded }, default: { $ref: '#/components/responses/Error' } }
  /projects/{id}/changes:
    get:
      operationId: getProjectChanges
      parameters: [ { $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/Cursor' } ]
      responses: { '200': { description: Changes, content: { application/json: { schema: { $ref: '#/components/schemas/ChangePage' } } } }, default: { $ref: '#/components/responses/Error' } }
  /workstreams/{id}/briefs:
    post:
      operationId: createCoordinationBrief
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/BriefRequest' } } } }
      responses: { '200': { description: Brief, content: { application/json: { schema: { $ref: './schemas/coordination-brief.schema.json' } } } }, default: { $ref: '#/components/responses/Error' } }
  /context-items/{id}:
    get:
      operationId: getContextItem
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '200': { description: Current authorized item, content: { application/json: { schema: { $ref: '#/components/schemas/ContextItem' } } } }, default: { $ref: '#/components/responses/Error' } }
  /devices/{id}/revoke:
    post:
      operationId: revokeDevice
      parameters: [ { $ref: '#/components/parameters/Id' } ]
      responses: { '204': { description: Revoked }, default: { $ref: '#/components/responses/Error' } }
components:
  securitySchemes:
    deviceToken: { type: http, scheme: bearer }
  parameters:
    Id: { name: id, in: path, required: true, schema: { $ref: '#/components/schemas/Id' } }
    Cursor: { name: cursor, in: query, required: false, schema: { type: string, maxLength: 512 } }
  responses:
    Error:
      description: Stable error envelope
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
  schemas:
    Id: { type: string, pattern: '^[a-z][a-z0-9_]{2,127}$' }
    Timestamp: { type: string, format: date-time }
    CreateProjectRequest:
      type: object
      additionalProperties: false
      required: [label, deviceLabel]
      properties: { label: { type: string, minLength: 1, maxLength: 120 }, deviceLabel: { type: string, minLength: 1, maxLength: 120 } }
    Project:
      type: object
      additionalProperties: false
      required: [id, label]
      properties: { id: { $ref: '#/components/schemas/Id' }, label: { type: string, maxLength: 120 } }
    CreateInviteRequest:
      type: object
      additionalProperties: false
      required: [expiresInSeconds, maxUses]
      properties: { expiresInSeconds: { type: integer, minimum: 60, maximum: 604800 }, maxUses: { type: integer, minimum: 1, maximum: 50 } }
    Invite:
      type: object
      additionalProperties: false
      required: [id, secret, expiresAt]
      properties: { id: { $ref: '#/components/schemas/Id' }, secret: { type: string, minLength: 22, maxLength: 512 }, expiresAt: { $ref: '#/components/schemas/Timestamp' } }
    EnrollmentRequest:
      type: object
      additionalProperties: false
      required: [inviteId, inviteSecret, deviceLabel, appVersion, schemaMinimum, schemaMaximum]
      properties:
        inviteId: { $ref: '#/components/schemas/Id' }
        inviteSecret: { type: string, minLength: 22, maxLength: 512 }
        deviceLabel: { type: string, minLength: 1, maxLength: 120 }
        appVersion: { type: string, maxLength: 64 }
        schemaMinimum: { type: integer, minimum: 1 }
        schemaMaximum: { type: integer, minimum: 1 }
    Enrollment:
      type: object
      additionalProperties: false
      required: [deviceId, deviceToken, dashboardTicket]
      properties: { deviceId: { $ref: '#/components/schemas/Id' }, deviceToken: { type: string, minLength: 32, maxLength: 512 }, dashboardTicket: { type: string, minLength: 22, maxLength: 512 } }
    TicketExchangeRequest:
      type: object
      additionalProperties: false
      required: [ticket]
      properties: { ticket: { type: string, minLength: 22, maxLength: 512 } }
    DeviceBootstrap:
      type: object
      additionalProperties: false
      required: [deviceId, schemaMinimum, schemaMaximum, projects, cursors]
      properties:
        deviceId: { $ref: '#/components/schemas/Id' }
        schemaMinimum: { type: integer, minimum: 1 }
        schemaMaximum: { type: integer, minimum: 1 }
        projects: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/Project' } }
        cursors: { type: object, maxProperties: 100, additionalProperties: { type: string, maxLength: 512 } }
    EventEnvelope: { $ref: './schemas/event-envelope.schema.json' }
    EventBatch:
      type: object
      description: A bounded batch from exactly one workspace; sequence and the returned cursor are workspace-scoped.
      additionalProperties: false
      required: [events]
      properties: { events: { type: array, minItems: 1, maxItems: 100, items: { $ref: '#/components/schemas/EventEnvelope' } } }
    EventBatchAck:
      type: object
      additionalProperties: false
      required: [acceptedEventIds, cursor]
      properties: { acceptedEventIds: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/Id' } }, cursor: { type: string, maxLength: 512 } }
    HeartbeatRequest:
      type: object
      additionalProperties: false
      required: [workspaceId, state]
      properties: { workspaceId: { $ref: '#/components/schemas/Id' }, state: { type: string, enum: [active, idle, paused] } }
    ChangePage:
      type: object
      additionalProperties: false
      required: [items, cursor]
      properties: { items: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/ContextItem' } }, cursor: { type: string, maxLength: 512 } }
    BriefRequest:
      type: object
      additionalProperties: false
      required: [trigger, approximateTokenBudget]
      properties: { trigger: { type: string, maxLength: 80 }, sinceCursor: { type: string, maxLength: 512 }, approximateTokenBudget: { type: integer, minimum: 128, maximum: 800, default: 400 } }
    ContextItem:
      oneOf:
        - { $ref: './schemas/semantic-object.schema.json' }
        - { $ref: './schemas/finding.schema.json' }
        - { $ref: './schemas/checkpoint.schema.json' }
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, requestId, retryable]
          properties:
            code: { type: string, pattern: '^[a-z][a-z0-9_]{2,63}$' }
            message: { type: string, maxLength: 300 }
            requestId: { $ref: '#/components/schemas/Id' }
            retryable: { type: boolean }
            details: { type: object, maxProperties: 20 }
